.card{
    display: block;
}

@media (min-width: 1140px) {
    .card{
        width: 28%;
    }
}
.card:hover .card__img-wrapper{
    transform: scale(1.03);
}

.card__img-wrapper{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 13px;
    transition: transform .2s;
}

.card__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__title{
    font-weight: 500;
    font-size: 15.2px;
}

.card__text{
    font-weight: 500;
    font-size: 11.4px;
    color: #7F7F7F;
}

.cards__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .cards__wrapper{
        flex-direction: row;
    }
}

@media (min-width: 1140px) {
    .card--large{
        width: 47%;
        
    }
}